<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderMapper">

<!-- 주문 -->
<insert id="orderInsert">
       INSERT INTO MORDER (ORDERNUM,ORDERPRODUCTNAME,ORDERAMOUNT,ORDERPRICE,TOTALMONEY,ORDERNAME,ORDERPHONE,ORDERADDR1,ORDERADDR2,ORDERADDR3,ORDERREQ,MID,MGNUM,ORDERTOTAL)
       VALUES (order_seq.nextval,#{orderProductName},#{orderAmount},#{orderPrice},#{totalMoney},#{orderName},#{orderPhone},#{orderAddr1},#{orderAddr2},#{orderAddr3},#{orderReq},#{mId},#{mgNum},#{orderTotal})
</insert>

<select id = "orderList" resultType = "com.project.order.vo.OrderVO">
	<![CDATA[
		SELECT
			ORDERPRODUCTNAME,
			ORDERAMOUNT,
			ORDERPRICE,
			ORDERSTATE
		FROM
			MORDER
		WHERE ORDERTOTAL = #{orderTotal}
	]]>
</select>

<select id="order" resultType = "com.project.order.vo.OrderVO">
	SELECT DISTINCT
		   ORDERTOTAL,
	       TOTALMONEY,
	       ORDERSTATE
	FROM MORDER
	WHERE MID = #{mid}
	       
</select>


</mapper>