<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">

	<!-- Email select -->
	<select id = "selectByEmail" resultType = "com.project.member.vo.MemberVO">
	<![CDATA[
		SELECT
			MEMAIL,
			MNAME
		FROM
			MSM_MEMBER
		WHERE
			MEMAIL = #{mEmail}
	]]>
	</select>
	
	<!-- ID select -->
	<select id = "selectByID" resultType = "com.project.member.vo.MemberVO">
	<![CDATA[
		SELECT
			MID,
			MNAME
		FROM
			MSM_MEMBER
		WHERE
			MID = #{mId}
	]]>
	</select>
	
	<!-- Sign Up SQL -->
	<insert id = "register">
		<![CDATA[
			INSERT INTO MSM_MEMBER
			(
				MID,
				MPW,
				MNAME,
				MEMAIL,
				MPHONE,
				MZIP_CODE,
				M_FIRST_ADDR,
				M_SECOND_ADDR
			)
			VALUES
			(
				#{mId},
				#{mPw},
				#{mName},
				#{mEmail},
				#{mPhone},
				#{mZip_Code},
				#{mFirst_Addr},
				#{mSecond_Addr}				
			)
		]]>		
	</insert>
	
	<!-- idCheck -->
	<select id = "idCheck" resultType = "HashMap" parameterType = "HashMap">
		<![CDATA[
			SELECT COUNT(MID) AS RESULT
			FROM MSM_MEMBER
			WHERE MID = #{mId}
		]]>
	</select>
	
	<!-- idCheck2 -->
	<select id = "idCheck2" resultType = "Int" parameterType = "String">
	<![CDATA[
		SELECT COUNT(*)
		FROM MSM_MEMBER
		WHERE MID = #{mId}
	]]>
	</select>
	
	<!-- Login Query and 회원정보 상세보기. -->
	<select id = "selectUserById" resultType = "com.project.member.vo.MemberVO">
		<![CDATA[
			SELECT 
				MID,
				MPW,
				MNAME,
				MEMAIL,
				MPHONE,
				MZIP_CODE,
				M_FIRST_ADDR AS mFirst_Addr,
				M_SECOND_ADDR AS mSecond_Addr,
				ENABLED,
				REGDATE,
				AUTHORITYNAME AS authority
			FROM MSM_MEMBER
			WHERE MID = #{mId}
		]]>
	</select>
	
	<!-- Member List -->
	<select id = "selectAll" resultType = "com.project.member.vo.MemberVO" parameterType = "com.project.board.vo.Criteria">		
			SELECT 
				MID,
				MPW,
				MNAME,
				MEMAIL,
				MPHONE,
				MZIP_CODE,
				M_FIRST_ADDR AS mFirst_Addr,
				M_SECOND_ADDR AS mSecond_Addr,
				ENABLED,
				REGDATE,
				AUTHORITYNAME AS authority
			FROM (
				SELECT
					MID,
					MPW,
					MNAME,
					MEMAIL,
					MPHONE,
					MZIP_CODE,
					M_FIRST_ADDR,
					M_SECOND_ADDR,
					ENABLED,
					REGDATE,
					AUTHORITYNAME,
					ROW_NUMBER() OVER(ORDER BY MID DESC) AS RNUM
					FROM MSM_MEMBER
					WHERE 1=1
						<include refid = "search"></include>
			) MP
			WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
			ORDER BY MID DESC
		
	</select>
	
	<!-- 총 회원의 수 -->
	<select id="listCount" resultType="int" parameterType="com.project.board.vo.SearchCriteria">
		
			SELECT COUNT(MID)
			FROM MSM_MEMBER
			WHERE 1=1
			<include refid ="search"></include>
			
	</select>
	
	<!-- search SQl -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND MID LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND MEMAIL LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>
	
	<!-- 회원 권한 목록 -->
	<select id = "authorityList" parameterType = "String" resultType = "com.project.member.vo.MemberAuthorityDTO">
		<![CDATA[
			SELECT M.MID, A.AUTHORITY
			FROM MSM_MEMBER M, AUTHORITIES A 
			WHERE M.MID = #{mId} AND A.AUTHORITYNAME = #{authority}
		]]>
	</select>
	
	<!-- 회원정보 수정하기 -->
	<update id = "update" parameterType = "com.project.member.vo.MemberVO">
		<![CDATA[
			UPDATE MSM_MEMBER
			SET MEMAIL = #{mEmail},
				MPHONE = #{mPhone},
				MZIP_CODE = #{mZip_Code},
				M_FIRST_ADDR = #{mFirst_Addr},
				M_SECOND_ADDR = #{mSecond_Addr}
			WHERE MID = #{mId}
		]]>
	</update>
	<!-- 회원권한 수정하기 -->
	<update id = "updateAuth" parameterType = "com.project.member.vo.MemberVO">
		<![CDATA[
			UPDATE MSM_MEMBER
			SET AUTHORITYNAME = #{authority}
			WHERE MID = #{mId}
		]]>
	</update>
	
</mapper>